api_key.txt
account_id.txt

infra/k8s/secrets.yaml
infra/app/k8s/secrets.yaml
k8s/secrets.yaml

tools/hey
tools/hey.exe

.env
.env.*
!.env.example

.DS_Store

Thumbs.db
setup-env.sh
infra/bootstrap/terraform.tfstate*
